<div class="thumbnail well" style="padding: 5px;">
  <img src="{{thumbnail.path}}/portrait_uncanny.{{thumbnail.extension}}" class="img-rounded img-responsive" />

  <div class="caption">
    <h4>{{title}}</h4>
    <div>Prices:</div>
    {{#each prices}}
    <div>
      {{priceType type}}: ${{price}}
    </div>
    {{/each}}

    {{#hasPurchaseUrl urls}}
      <a href={{url}} class="btn btn-danger btn-block">Buy Now</a>
    {{else}}
      <button disabled class="btn btn-danger btn-block">Nope</button>
    {{/hasPurchaseUrl}}
  </div>
</div>
