<div>
  <a href="/events/{{id}}" class="list-group-item">
    <div class="row-picture">
      <img class="circle" src="{{thumbnail.path}}/landscape_small.{{thumbnail.extension}}" alt="icon">
    </div>
    <div class="row-content">
      <h4 class="list-group-item-heading">{{title}}</h4>
      <p class="list-group-item-text">{{dateRange start end}}</p>
    </div>
  </a>
  <div class="list-group-separator"></div>
</div>
